*{
    margin: 0;
    padding: 0; /* Optional: Also remove default padding */
    box-sizing: border-box; /* Optional: Improve box model calculation */
}
:root,html,body {
    height: 100dvh;
    max-height: 100dvh;
    background-color: lightgray;
}
html{
    scroll-behavior: smooth;
    font-family: 'Space Grotesk';
}
.page-container{
    height: auto;
    height: 100%;
    display: grid;
    gap: 4rem;
    grid-template-rows: 1fr auto 1fr;
}
.header{
    justify-items: center;
    align-content: end;
}
.hero-copy{
    display: grid;
    gap: .5rem;
    text-align: center;
    font-size: 1.5rem; 
}
.footer{}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer{
    align-content: center;
}
.footer .menu-contacts{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 1rem;
}
img{
    height: 4em;
}

@media only screen and (min-width: 768px) {
    img {
        height: 2.3rem;
    }
 
}