html{
    scroll-behavior: smooth;
    font-family: 'Space Grotesk';
}
body,p,h4{
    margin: 0;  
}
body{
   
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.content{
    padding:0 1rem;
    padding-right: 2rem;
}
.header-container{
    position: fixed;
    height: 6rem;
    width: 100%;
    background: palegoldenrod;
}

.header-content{
    display: grid;
    padding-top: 1rem;
    justify-items: center;
}
.logo{
    font-size: 1.5rem;
}
.menu{
    width: 100%;
}

.menu-list.contacts {
   display: grid;
   grid-auto-flow: column;
    justify-content: center;
    gap: 1rem;
}
.menu-list.contacts img {
height: 2rem;
}
.main{
    scroll-snap-type: x mandatory;
}
.section{
    height: 100vh;
    padding-top: 6rem;
    scroll-snap-align: start;
}
#landing h1{
    font-size: 2.3rem;
}
.skiills{
    display: grid;
    gap: 1rem;
    grid-template-columns: 
        repeat(auto-fit, minmax(min(22rem,100%),1fr)) ;
}
.skill-list{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
   
}

.skill-list span{
    display: inline-block;
    border-radius: 3px;
    border: 2px solid #e5e5e5;
    color: #666;
    padding: 2px 7px;
}
#contact{
    background: lavenderblush;
    padding: 2rem 0;
}
.info-line{
    display: grid;
    grid-template-columns: 2rem 1fr;
    gap: 1rem;
}
.contact-info{
    display: grid;
    gap: 1rem;
}
.info-text{
    display: table-cell;
}

.icon-envelop:before {
    content: url("./assets/img/envelope-solid.svg");
}
.icon-phone:before{
    content: url("./assets/img/mobile-screen-button-solid.svg");
}
.icon-location:before {
    content: url("./assets/img/location-dot-solid.svg");
}

@media only screen and (min-width: 768px) {
    #landing h1 {
        font-size: 4rem;
    }

    .contact-info {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}