.framed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-color:aliceblue;
    border-style: solid;
    border-width: 90px 50px 50px 50px;
    transition: border-width 0.2s;
    visibility: visible;
}
.un-framed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-color:aliceblue;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    transition: border-width 0.2s ;
visibility: hidden;
}
.center {
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translate3d(-50%, 0%, 0);
}

button {
    border: none;
    background: var(--menu-button);;
    color: white;
    cursor: pointer;
    outline: none;
    height: 74px;
    width: 74px;
    z-index: 2;
}

.overlay {
    display: flex;
    justify-items: center;
    justify-content: center;
    visibility: hidden;
    /* align-items: stretch; */
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: var(--seaweed);
    position: fixed;
    top: 0;
    left: 0;
}

.open {
    visibility: visible;
    overflow: hidden;
}

.overlay ul {
    list-style-type: none;
    padding: 0;
}

.overlay a {
    text-decoration: none;
    color: #000000;
}

.overlay li {
    font-size: 40px;
    text-align: center;
    padding: 5px 0 10px 0;
    text-decoration: none;
}

.overlay li a:hover,
.overlay li a:focus {
    text-decoration: none;
    color: #6f6f6e;
    outline: 0;
}